#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/input_transform.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp Q      &kp W      &kp E      &kp R      &kp T      &kp Y      &kp U      &kp I      &kp O      &kp P
                &mt LSHIFT &kp A  &kp S      &tog 3      &lt 1 &kp F    &kp G      &kp H      &lt 1 &kp J    &tog 3
                &mt LCTRL &kp Z   &kp X      &kp C      &lt 2 &kp V    &kp B      &kp N      &lt 2 &kp M    &kp COMMA
                &none      &none      &kp LSHIFT &kp ESC   &kp SPACE  &kp BSPC   &none     &none     &none     &none
            >;
        };
    };
};
