#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp Q      &kp W &kp E     &kp R    &kp T         &kp Y   &kp U     &kp I     &kp O   &kp P
                &kp A      &kp S &kp D     &kp F    &kp G         &kp H   &kp J     &kp K     &kp L   &kp SEMI
                &kp Z      &kp X &kp C     &kp V    &kp B         &kp N   &kp M     &kp COMMA &kp DOT &kp SLASH
                &none      &none &kp LSHFT                        &kp SPACE &kp ENTER &kp ESC
            >;
        };

        bluetooth_layer {
            bindings = <
                &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4   &none &none &none &none &none
                &bt BT_CLR   &bt BT_NXT   &bt BT_PRV   &out OUT_BLE &none          &none &none &none &none &none
                &out OUT_USB &out OUT_TOG &none        &none        &none          &none &none &none &none &none
                &none        &none        &to 0                                     &none &none &none
            >;
        };
    };
};
