#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp Q &kp W &kp E &kp R &kp T
                &kp A &kp S &kp D &kp F &kp G
                &kp Z &kp X &kp C &kp V &kp B
                &kp LSHFT &kp SPACE &kp ESC 
            >;
        };

        bluetooth_layer {
            bindings = <
                &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4
                &bt BT_CLR &bt BT_NXT &bt BT_PRV &bt BT_CLR_ALL &trans
                &none &none &none &to 0 &bootloader
                &kp LCTRL &kp LGUI &kp LALT
            >;
        };
    };
};